<h2>Create Your Chequeing Account</h2>
<hr />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <h4>Student Chequeing Account</h4>
        @Html.ActionLink("Create Account", "CreateChequeing", "Accounts", null, new { @class = "btn - btn-primary" })
    </div>

    <div class="col-md-4">
        <h4>Everyday Chequeing Account</h4>
        @Html.ActionLink("Create Account", "CreateChequeing", "Accounts", null, new { @class = "btn - btn-primary" })
    </div>

    <div class="col-md-4">
        <h4>Shared Chequeing Account</h4>
        @Html.ActionLink("Create Account", "CreateChequeing", "Accounts", null, new { @class = "btn - btn-primary" })
    </div>
</div>
