<h2>Create Your Chequeing Account</h2>
<hr />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <h4>Student Savings Account</h4>
        @Html.ActionLink("Create Account", "CreateSavings", "Accounts", null, new { @class = "btn - btn-primary" })
    </div>

    <div class="col-md-4">
        <h4>High Interest Savings Account</h4>
        @Html.ActionLink("Create Account", "CreateSavings", "Accounts", null, new { @class = "btn - btn-primary" })
    </div>

    <div class="col-md-4">
        <h4>Business Savings Account</h4>
        @Html.ActionLink("Create Account", "CreateSavings", "Accounts", null, new { @class = "btn - btn-primary" })
    </div>
</div>
