<h2>The Most Convenient Way To Do Your Banking</h2>
<p>
    ABC Online Banking provides a secure and convenient way to do your banking by giving you tools and services that will save you time on your banking.
</p>
<p>@Html.ActionLink("Learn More..", "Login", "Login", new { @class = "btn btn-default" }) 